__pycache__/
*.pyc
*.json
*.swp
output/
rl_test/ray_test/
env-light/
env-full/
ctf_gym.egg-info/
pyquaticus.egg-info/
_version.py
*.png
*.mp4
*.avi
__mapcache__/
*.csv
*.log
rhea_test*.log
ultra_def_test*.log
policy_state.pkl
algorithm_state.pkl
*.npy
qtrainlog/batch 3 mixed/figures/most_of_these_against_hard
qtrainlog/batch 4 small/0 unpretrained_is_vs_hard
